header {
  margin: 0px;
  width: 1280px;
  height: 584px;
  background-image: url(images/Mask\ group.png), url(images/_x31_3.png), url(images/Group\ 2129.png);
  background-repeat: no-repeat;
  background-position: top 0px left 300px, top 0px left 268px, top 78px left 43px;
  position: relative;
}
header > div {
  width: 100%;
  height: 64px;
  /* how to make space in left and right?? */
  /* margin: 0px 47px 0px 32px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#frame2259 {
  display: flex;
  align-items: center;
}
#top-nav {
  width: 704px;
  display: flex;
  justify-content: space-between;
}
#top-nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
#nav-contact {
  background-color: #0C4324;
  font-weight: 700;
  border-radius: 4px;
}
#Frame_2557 {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Frame_2120 p {
  color: #468459;
  display: inline-block;
}
#Frame_2120-1{
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
#Frame_2120-2 {
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
#Frame_2540 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
#Frame_2268 {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

/* section 2 */
#Feature_list_left {
  background-image: url(images/Title.png), url(images/Title.png), url(images/BGicon-1.png), url(images/BGicon-2.png), url(images/Vector.png), url(images/Union.png);
  background-repeat: no-repeat;
  background-position: top 201px left 125px, top 1126px left 125px, top 521px left 840px, top 1421px left 840px, top 893px left 0px, top 922px left 0px;
  width: 100%;
  height: 1900px;
  position: relative;
}
#Frame_2555 {
  display: flex;
  position: absolute;
  top: 120px;
  left: 258px;
  width: 63%;
  height: 629px;
  margin: 0 auto;
}
#content {
  position: relative;
  width: 42%;
  height: 100%;
}
#content-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 39%;
  height: 58px;
  display: inline-block;
}
#content-1 p, #content-1 img {
  display: inline;
}
#concept, #tokuchou {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #468459;
}
#tokuchou {
  font-weight: 400;
}
#content-2 {
  position: absolute;
  top: 90px;/* ??? */
  left: 0px;
  width: 100%;
  height: 216px;
  font-family: Noto Sans JP;
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #468459;
}
#content-3 {
  position: absolute;
  top: 344px;/* ??? */
}
#content-4 {
  position: absolute;
  top: 593px;/* ??? */
  left: 149px;
}

/* ------------------------------------------ */
#btn_02-1 {
  display: none;
}
#btn_02-1:hover {
  display: none;
}
/* ------------------------------------------ */

#concept_img-1 {
  position: absolute;
  top: 61px;
  left: 589px;
  z-index: 11;
}
#concept_img-2 {
  position: absolute;
  top: 118px;
  left: 400px;
  z-index: 10;
}
#concept_img-3 {
  position: absolute;
  top: 379px;
  left: 654px;
  z-index: 11;
}
#concept_img-1 img, #concept_img-3 img {
  border-radius: 12px;
}
#concept_img-2 img {
  border-radius: 23px;
}

#Frame_2286 {
  position: absolute;
  top: 1011px;
  left: 242px;
  width: 62.5%;
  height: 722px;
  margin: 0 auto;
}
#Frame_2126 {
  width: 43%;
  height: 104px;
  margin: 0 auto;
}
#Head_02 {
  width: 62%;
  height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#Head_02 p {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #468459;
  display: inline-block;
  margin: auto 0;
}
#Frame_2126 p {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #468459;
}
#Frame_2550 {
  margin-top: 64px;
  width: 100%;
  height: 554px;
}
#Frame_2285 {
  width: 100%;
  height: 490px;
  display: flex;
  justify-content: space-between;
}
#Frame_2283, #Frame_2284 {
  position: relative;
  width: 45%;
  height: 490px;
}
#Frame_2283 img, #Frame_2284 img {
  border-radius: 24px;
}
.Frame_2282 {
  margin-top: 38px;
}
.Frame_2282 p {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0C4324;
}
.Frame_2282 ul {
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.Frame_2282 ul li {
  margin-bottom: 13px;
}
#btn_to_course {
  width: 100%;
  height: 64px;
  position: relative;
}
#btn_to_course img {
  position: absolute;
  top: 32px;
  margin: 0 auto;/* ??? */
}

#Frame_2558 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: url("images/batch_benjamin-wedemeyer-1rdB14ttWgQ-unsplash 1.png");
  background-position: top 0px left 0px;
  background-repeat: no-repeat;
}
#Frame_2286-2 {
  position: absolute;
  top: 274px;
  left: 15.7%;
  width: 68.5%;
  height: 687px;
  color: #0C4324;
}
#Frame_2126-2 {
  width: 39%;
  height: 104px;
  margin: 0 auto;
}
#Frame_2126-2-1 {
  width: 55%;
  height: 24px;
  margin: 0 auto;
}
#Frame_2126-2-1 p {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  display: inline;
  color: #468459;
}
#Frame_2126-2-2 {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #468459;
}
#Frame_2551 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 443px;
  margin-top: 60px;
}
.top_user {
  width: 29%;
  height: 443px;
}
.top_user_img img {
  border-radius: 120px;
}
.top_user_p > p {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.top_user_p div p {
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
#btn_to_voice {
  width: 20.2%;
  height: 32px;
  margin: 48px auto 0px auto;
}
#access {
  width: 100%;
  height: 702px;
  background-image: url("images/Union.png"), url("images/Vector.png");
  background-repeat: no-repeat;
  background-position: top 30px left 0px, top 0px left 0px;
}
#access {
  padding: 140px 0px 0px 0px;
}
#Frame_2560 {
  margin: 0 auto;
  width: 80.1%;
  height: 482px;
}
#head_contact {
  margin: 0 auto;
  width: 34%;
  height: 24px;
}
#head_contact p {
  display: inline-block;
  margin: 0 18px;
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #468459;
}
#Frame_2259 {
  margin-top: 40px;
  width: 100%;
  height: 418px;
  display: flex;
  justify-content: space-between;
}
#contact_content {
  width: 44.7%;
  height: 391px;
}
#Frame_2275 {
  width: 49.6%;
  height: 418px;
}
#contact_content-1 {
  width: 100%;
  height: 34px;
  margin-bottom: 16px;
}
#contact_content-1 p {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #468459;
}
#contact_content-2 {
  width: 100%;
  height: 68px;
  margin-bottom: 16px;
}
#contact_content-2 p {
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
#contact_content-3 {
  width: 100%;
  height: 34px;
  margin-bottom: 16px;
}
#contact_content-3-1 {
  margin: 0px;
  display: inline-block;
  margin-right: 3px;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #468459;
}
.contact_number {
  margin: 0px;
  display: inline-block;
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #468459;
}
.hyphen {
  margin: 0px;
  display: inline-block;
  font-size: 17.78px;
  color: #468459;
}
#contact_content-4 {
  width: 100%;
  height: 207px;  
}
#contact_content-4-2 {
  margin-top: 35px;
}
#contact_map {
  width: 49.6%;
  height: 418px;
}
footer {
  width: 100%;
  height: 163px;
  background-color: #F0F5E1;
}
#btn_to_top {
  position: relative;
  top: -29px;
  left: 1182px;
}
#nav-footer {
  margin: 0px auto 44px auto;
  width: 73.8%;
  height: 36px;
  display: flex;
  justify-content: space-between;
}
#Frame_2259-2 {
  width: 25.4%;
  height: 36px;
  display: inline-block;
}
#nav-footer-2 {
  width: 69.6%;
}
#nav-footer-2 nav {
  display: flex;
  justify-content: space-between;
}
#nav-footer-2 nav a {
  text-decoration: none;
  color: #000000;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
#copyright {
  width: 100%;
  height: 40px;
  background-color: #468459;
}
#copyright p {
  position: relative;
  top: 11px;
  margin: 0px;
  display: block;
  font-family: Noto Sans JP;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}


body {
  margin: 0;
}