@media screen and (max-width: 767px) {
  /* about.html */
  /* header in about.html */
  #header-about {
    /* position: relative;
    top: 64px;
    left: 0px; */
    width: 100%;
    height: 424px;
    background-image: url("images/about_logo.png"), url("images/about_top-sp.png"), url("images/_x31_3.png");
    background-repeat: no-repeat;
    background-position: top 315px left 0px, top 64px left 88px, top -180px left 12px;
    max-width: 360px;
  }
  
}