@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 64px;
    padding: 10px, 32px, 10px, 47px; /* invalid */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #nav-pc {
    height: 60px;
    width: 704px;
    display: flex;
    justify-content: space-between;
  }
  #nav-pc a {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
  #nav-pc a:link {
    text-decoration: none;
    color: white;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  #nav-contact {
    background-color: #0c4324;
  }
  main {
    position: relative;
    top: 584px;
    width: 100%;
  }
  #main-top-1 {
    position: absolute;
    width: 231.63px;
    height: 433px;
    top: 78px;
    left: 43px;
    z-index: 10;
  }
  #main-top-2 {
    position: absolute;
    width: 719px;
    height: 616px;
    top: -70px;
    left: 268px;
    z-index: 11;
  }
  #main-top-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 12;
    left: 300px;
  }
  main div a {
    color: #468459;
    text-decoration: none;
  }
  #div-news {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px auto; /* invalid */
  }
  #span-news {
    font-size: 24px;
  }
  #div-news div {
    font-family: Noto Sans JP;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .span-moss-green {
    background-color: #468459;
    color: white;
  }
  #concept {
    position: relative;
    display: flex;
    width: 63%;
    margin: 0 auto;
  }
  #concept-1 {
    position: relative;
    width: 40%;
  }
  #title {
    position: absolute;
    top: 201px;
    left: 125px;
  }
  #union {
    position: absolute;
    top: 521px;
    left: 1337px;
  }
  #concept-1-1 {
    width: 41%;
  }
  #concept-1-1 > div {
    display: inline;
  }
  #concept-1-1 span {
    font-family: Noto Sans JP;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #468459;
  }
  #concept-1-1 p {
    margin: 10px 0 0 0;
    display: inline-block;
    color: #468459;
    font-family: Noto Sans JP;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  #concept-1-2 {
    position: absolute;
    top: 90px;
    color: #468459;
    font-family: Noto Sans JP;
    font-size: 32px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
  }
  #concept-1-3 {
    position: absolute;
    width: 100%;
    top: 344px;
  }
  #concept-1-4 {
    position: absolute;
    top: 593px;
    left: 149px;
  }
  #about-btn-1 {
    display: block;
    position: absolute;
  }
  #about-btn-1 :hover {
    display: none; /* ??? */
  }
  #about-btn-2 {
    display: none;
  }
  #about-btn-2 :hover {
    display: block;
    position: absolute;
  }
  #concept-2 img {
    border-radius: 12px;
  }
  #img-cncpt-1 {
    position: absolute;
    z-index: 12;
    top: 61px;
    left: 589px;
  }
  #img-cncpt-2 {
    position: absolute;
    z-index: 11;
    top: 118.03px;
    left: 400px;
  }
  #img-cncpt-3 {
    position: absolute;
    z-index: 12;
    top: 379px;
    left: 654px;
  }

  
  #course {
    position: relative;
    margin: 900px 0px;
  }
  #course-bg-img-1 {
    position: absolute;
    width: 1786.65px;
    height: 239.64px;
    top: 162.8px; /* ??? */
    left: -440px;
    opacity: 0.5;
    transform: rotate(-3.15deg);
  }
  #course-bg-img-2 {
    position: absolute;
    width: 1796.23px;
    height: 982.76px;
    top: 22px;
    left: -440px;
  }
  #course-list {
    width: 63%;
    margin: 0 auto;
  }
  #course-top {
    width: 43%;
    margin: 0 auto;
  }
  #course-top span, #course-top p {
    color: #468459;
    font-family: Noto Sans JP;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
  }

  #course-option {
    display: flex;
    justify-content: space-between;
  }
  #course-option div img {
    border-radius: 24px;
  }
  #course-option div p {
    color: #0C4324;
    font-family: Noto Sans JP;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  #course-option div ul {
    font-family: Noto Sans JP;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  #button_to_course {
    display: flex;
    justify-content: center;
  }
}